.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 2s;
  height: 80px;
}

.App-logo2 {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Content-show {
  display: block;
}

.Content-hide {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
